<main class="app-content">
    <div class="app-title">
      <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item active"><a href="#"><b>Thống kê</b></a></li>
      </ul>
      <div id="clock"></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tile">
          <div class="tile-body">
            <div class="row element-button">
              <div class="col-sm-2">
  
                <a class="btn btn-add btn-sm" href="/thongke/ThongKeTopXe" title="Thêm"><i class=""></i>
                  Thống kê Top Xe</a>
              </div>
  
  
              <div class="end" style="margin-left: 720px;  ">
                <div class="row">
                  <div class="col-sm-22" style="margin-left: 20px; font-weight: bold ;font-size: 15px;">
                    <label class="control-label1">Từ ngày</label>
                    <input class="form-control1" type="date" required>
                  </div>
                  <div class="col-sm-22" style="margin-left: 20px;font-weight: bold; font-size: 15px;">
                    <label class="control-label1">Đến ngày</label>
                    <input class="form-control1" type="date" required>
                  </div>
                  <div class="col-sm-22" style="margin-left: 20px;  ">
                    <a class="btn btn-tim-kiem" href="" title="button" style="color: #fff; background-color: #38a927; width: 80px; height: 30px; display: flex; justify-content: center;
                      align-items: center;">Tìm kiếm</a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-6 col-lg-3">
                <div class="widget-small primary coloured-icon"><i class='icon  bx bxs-user fa-3x'></i>
                  <div class="info">
                    <h4>Tổng Chuyến</h4>
                    <p><b>100 Chuyến</b></p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="widget-small info coloured-icon"><i class='icon bx bxs-purchase-tag-alt fa-3x'></i>
                  <div class="info">
                    <h4>Chuyến Thành công</h4>
                    <p><b>68 chuyến</b></p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="widget-small danger coloured-icon"><i class='icon fa-3x bx bxs-info-circle'></i>
                  <div class="info">
                    <h4>Chuyến đã hủy</h4>
                    <p><b>4 Chuyến</b></p>
                  </div>
                </div>
              </div>
  
              <div class="col-md-6 col-lg-3">
  
                <div class="widget-small danger coloured-icon"><i class='icon fa-3x bx bxs-receipt'></i>
                  <div class="info">
                    <h4>Chuyến Chờ cọc</h4>
                    <p><b>10 chuyến</b></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-3">
                <div class="widget-small info coloured-icon"><i class='icon fa-3x bx bxs-user-badge'></i>
                  <div class="info">
                    <h4> Chuyến Đang hoạt động</h4>
                    <p><b>20 chuyến</b></p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="widget-small info coloured-icon"><i class='icon fa-3x bx bxs-user-badge'></i>
                  <div class="info">
                    <h4> Chuyến Đã cọc</h4>
                    <p><b>20 chuyến</b></p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="widget-small primary coloured-icon"><i class='icon fa-3x bx bxs-chart'></i>
                  <div class="info">
                    <h4>Doanh thu</h4>
                    <p><b>104.890.000 đ</b></p>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
  
  
  
        </div>
        <div class="col-md-12 col-lg-7">
          <div class="row">
            <div class="col-md-12">
              <div class="tile">
                <h3 class="tile-title">📊 Biểu đồ doanh thu</h3>
                <div class="embed-responsive embed-responsive-16by9">
                  <div class="embed-responsive-item">
  
                    <canvas data-type="line" class="doanhthu" data-color-datalabels="#2e2a2a"></canvas>
                  </div>
  
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="tile">
                <h3 class="tile-title">📊 Biểu đồ hóa đơn</h3>
                <div class="embed-responsive embed-responsive-16by9">
                  <div class="embed-responsive-item">
                    <canvas data-type="line" class="hoadon" data-color-datalabels="#fffff"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
        
      </div>
    </div>
    </div>
  </main>
  <!-- Essential javascripts for application to work-->
  <script src="/public/js/jquery-3.2.1.min.js"></script>
  <script src="/public/js/popper.min.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="src/jquery.table2excel.js"></script>
  <script src="/publicjs/main.js"></script>
  <!-- The javascript plugin to display page loading on top-->
  <script src="/public/js/plugins/pace.min.js"></script>
  <!-- Page specific javascripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
  <!-- Data table plugin-->
  <script type="text/javascript" src="/public/js/plugins/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/public/js/plugins/dataTables.bootstrap.min.js"></script>
  <script type="text/javascript">$('#sampleTable').DataTable();</script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
  {{!-- doanh thu --}}
  <script>
    const MONTHS = [
      "Tháng 1",
      "Tháng 2",
      "Tháng 3",
      "Tháng 4",
      "Tháng 5",
      "Tháng 6",
      "Tháng 6",
      "Tháng 7",
      "Tháng 9",
      "Tháng 10",
      "Tháng 11",
      "Tháng 12",
    ];
  
    const fetchChartData = async () => {
      try {
        const response = await fetch("/thongke/thongketheoThang");
        const data = await response.json();
        return data;
      } catch (error) {
        console.error(error);
        return [];
      }
    };
  
    Chart.register(ChartDataLabels);
  
    const labels = MONTHS.slice(0, 12);
  
    const allCanvas = document.querySelectorAll(".doanhthu");
  
    allCanvas.forEach(async (el) => {
      const { type, colorDatalabels } = el.dataset;
  
      const chartData = await fetchChartData();
  
      const config = {
        type: el.dataset.type,
        data: {
          labels: labels,
          datasets: [
            {
              label: "Doanh thu",
              fillColor: "rgba(9, 109, 239, 0.651)",
              pointColor: "rgb(9, 109, 239)",
              strokeColor: "rgb(9, 109, 239)",
              pointStrokeColor: "rgb(9, 109, 239)",
              pointHighlightFill: "rgb(9, 109, 239)",
              pointHighlightStroke: "rgb(9, 109, 239)",
              data: chartData.map((item, index) => item.doanh_thu),
              tension: 0.2,
            },
            {
              label: "Lợi nhuận",
  
              fillColor: "rgba(9, 109, 239, 0.651)  ",
              pointColor: "rgb(9, 109, 239)",
              strokeColor: "rgb(9, 109, 239)",
              pointStrokeColor: "rgb(9, 109, 239)",
              pointHighlightFill: "rgb(9, 109, 239)",
              pointHighlightStroke: "rgb(9, 109, 239)",
              data: chartData.map((item, index) => item.loi_nhuan),
            }
          ],
        },
        options: {
          aspectRatio: 16 / 9,
          layout: {
            padding: 20,
          },
          plugins: {
            tooltip: {
              titleFont: {
                size: 22,
              },
              bodyFont: {
                size: 22,
              },
              callbacks: {
                label: (context) => `Total: ${context.formattedValue} đ`,
              },
            },
            datalabels: {
              color: colorDatalabels,
              font: { size: 11 },
              formatter: function (value, context) {
                return value;
              },
              display: function (context) {
                if (type === "line")
                  return (
                    context.dataIndex > 0 && context.dataIndex < labels.length - 1
                  );
  
                return true;
              },
            },
          },
        },
      };
  
      new Chart(el, config);
    });
  
    const fetchChartDataHD = async () => {
      try {
        const response = await fetch("/thongke/thongkeHDtheoThang");
        const data = await response.json();
        return data;
      } catch (error) {
        console.error(error);
        return [];
      }
    };
  
  
    const Canvas = document.querySelectorAll(".hoadon");
  
    Canvas.forEach(async (el) => {
      const { type, colorDatalabels } = el.dataset;
  
      const chartData = await fetchChartDataHD();
  
      const config = {
        type: el.dataset.type,
        data: {
          labels: labels,
          datasets: [
            {
              label: "Tổng đơn",
              fillColor: "rgba(9, 109, 239, 0.651)",
              pointColor: "rgb(9, 109, 239)",
              strokeColor: "rgb(9, 109, 239)",
              pointStrokeColor: "rgb(9, 109, 239)",
              pointHighlightFill: "rgb(9, 109, 239)",
              pointHighlightStroke: "rgb(9, 109, 239)",
              data: chartData.map((item, index) => item.tong_don),
              tension: 0.1,
            },
            {
              label: "Đơn thành công",
              fillColor: "rgba(9, 109, 239, 0.651)",
              pointColor: "rgb(9, 109, 239)",
              strokeColor: "rgb(9, 109, 239)",
              pointStrokeColor: "rgb(9, 109, 239)",
              pointHighlightFill: "rgb(9, 109, 239)",
              pointHighlightStroke: "rgb(9, 109, 239)",
              data: chartData.map((item, index) => item.don_thanh_cong),
              tension: 0.1,
            },
            {
              label: "Đơn hủy",
  
              fillColor: "rgba(9, 109, 239, 0.651)  ",
              pointColor: "rgb(9, 109, 239)",
              strokeColor: "rgb(9, 109, 239)",
              pointStrokeColor: "rgb(9, 109, 239)",
              pointHighlightFill: "rgb(9, 109, 239)",
              pointHighlightStroke: "rgb(9, 109, 239)",
              data: chartData.map((item, index) => item.don_huy),
              tension: 0.1,
  
            },
            {
              label: "Khác",
  
              fillColor: "rgba(9, 109, 239, 0.651)  ",
              pointColor: "rgb(9, 109, 239)",
              strokeColor: "rgb(9, 109, 239)",
              pointStrokeColor: "rgb(9, 109, 239)",
              pointHighlightFill: "rgb(9, 109, 239)",
              pointHighlightStroke: "rgb(9, 109, 239)",
              data: chartData.map((item, index) => item.khac),
              tension: 0.1,
  
            }
          ],
        },
        options: {
          aspectRatio: 16 / 9,
          layout: {
            padding: 20,
          },
          plugins: {
            tooltip: {
              titleFont: {
                size: 22,
              },
              bodyFont: {
                size: 22,
              },
              callbacks: {
                label: (context) => `Total: ${context.formattedValue} đơn`,
              },
            },
            datalabels: {
              color: colorDatalabels,
              font: { size: 11 },
              formatter: function (value, context) {
                return value;
              },
              display: function (context) {
                if (type === "line")
                  return (
                    context.dataIndex > 0 && context.dataIndex < labels.length - 1
                  );
  
                return true;
              },
            },
          },
        },
      };
  
      new Chart(el, config);
    });
  
  
  </script>