<head>
  <title>Thêm sản phẩm | Quản trị Admin</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Main CSS-->

  <!-- Font-icon css-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <!-- or -->
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
  <script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>
</head>

<body class="app sidebar-mini rtl">
  <style>
    .Choicefile {
      display: block;
      background: #14142B;
      border: 1px solid #fff;
      color: #fff;
      width: 150px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      padding: 5px 0px;
      border-radius: 5px;
      font-weight: 500;
      align-items: center;
      justify-content: center;
    }

    .Choicefile:hover {
      text-decoration: none;
      color: white;
    }

    #uploadfile,
    .removeimg {
      display: none;
    }

    #thumbbox {
      position: relative;
      width: 100%;
      margin-bottom: 20px;
    }

    .removeimg {
      height: 25px;
      position: absolute;
      background-repeat: no-repeat;
      top: 5px;
      left: 5px;
      background-size: 25px;
      width: 25px;
      /* border: 3px solid red; */
      border-radius: 50%;

    }

    .removeimg::before {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      content: '';
      border: 1px solid red;
      background: red;
      text-align: center;
      display: block;
      margin-top: 11px;
      transform: rotate(45deg);
    }

    .removeimg::after {
      /* color: #FFF; */
      /* background-color: #DC403B; */
      content: '';
      background: red;
      border: 1px solid red;
      text-align: center;
      display: block;
      transform: rotate(-45deg);
      margin-top: -2px;
    }
  </style>

  <main class="app-content">
    <div class="app-title">
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item">Quản lý xe</li>
        <li class="breadcrumb-item"><a href="#">Thêm xe</a></li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tile">
          <div class="tile-body">
            <div class="row element-button">
              <div class="col-sm-2">

                <a class="btn btn-add btn-sm" href="/quanlyxe">
                  Quản lý xe</a>
              </div>
            </div>


            <div class="row element-button">

              <form class="row" action="/api/xe/createform" method="post" enctype="multipart/form-data">
                <div class="form-group col-md-3">
                  <label class="control-label">Biển số xe</label>
                  <input class="form-control" type="text" name="BKS" placeholder="Nhập biển số xe" required>
                </div>
                <div class="form-group col-md-3 ">
                  <label for="exampleSelect1" class="control-label">Hãng xe</label>
                  <select class="form-control" id="exampleSelect1" name="HangXe">
                    <option disabled>-- Chọn hãng xe --</option>
                    <option value="VinFast" selected>VinFast</option>
                    <option value="Toyota">Toyota</option>
                  </select>
                </div>
                <div class="form-group col-md-3 ">
                  <label for="exampleSelect1" class="control-label">Tên xe</label>
                  <input class="form-control" type="text" name="MauXe" placeholder="Nhập tên xe" required>
                </div>
                <div class="form-group col-md-3 ">
                  <label for="exampleSelect1" class="control-label">Năm sản xuất</label>
                  <select class="form-control" id="exampleSelect1" name="NSX">
                    <option disabled>-- Chọn năm --</option>
                    <option value="2023" selected>2023</option>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                  </select>
                </div>
                <div class="form-group col-md-3 ">
                  <label for="exampleSelect1" class="control-label">Số ghế</label>
                  <select class="form-control" id="exampleSelect1" name="SoGhe">
                    <option disabled>-- Chọn số ghế --</option>
                    <option value="4" selected>4</option>
                    <option value="7">7</option>
                  </select>
                </div>
                <div class="form-group col-md-3 ">
                  <label for="exampleSelect1" class="control-label">Truyền động</label>
                  <select class="form-control" id="exampleSelect1" name="ChuyenDong">
                    <option disabled>-- Chọn truyền động --</option>
                    <option value="Số tự động" selected>Số tự động</option>
                    <option value="Số sàn">Số sàn</option>
                  </select>
                </div>

                <div class="form-group col-md-3">
                  <label for="exampleSelect1" class="control-label">Loại nhiêu liệu</label>
                  <select class="form-control" id="exampleSelect1" name="LoaiNhienLieu">
                    <option disabled>-- Chọn loại nhiêu liệu --</option>
                    <option value="Xăng" selected>Xăng</option>
                    <option value="Dầu">Dầu </option>
                    <option value="Điện">Điện</option>

                  </select>
                </div>
                <div class="form-group col-md-3">
                  <label for="exampleSelect1" class="control-label">Tiêu hao (Lít/100km)</label>
                  <input class="form-control" type="number" name="TieuHao" placeholder="Nhập mức tiêu hao nhiên liệu" required>
                </div>

                <div class="form-group col-md-3">
                  <label class="control-label">Giá </label>
                  <input class="form-control" type="text" name="GiaThue1Ngay" placeholder="Nhập giá thuê" required>
                </div>
                <div class="form-group col-md-3">
                  <label class="control-label">Địa chỉ</label>
                  <input class="form-control" type="text" name="DiaChiXe" placeholder="Nhập địa chỉ của xe" required>
                </div>
                <div class="form-group col-md-12">
                  <label class="control-label">Mô tả xe</label>
                  <textarea class="form-control" name="MoTa" id="mota" placeholder="Nhập nội dung" required></textarea>

                </div>

                <div class="col-md-5">
                  <label for="img" class="control-label">Hình ảnh xe:</label>
                  <input type="file" class="form-control" id="img" placeholder="" name="HinhAnh" accept="Image/*"
                    multiple required>
                  <p id="file-error" style="display:none; color:red;">Bạn chỉ được chọn tối đa 4 ảnh</p>
                </div>
                <div class="col-md-5">
                  <label for="img1" class="control-label">Đăng ký:</label>
 
                  <input type="file" class="form-control" id="img1" placeholder="" name="DangKyXe" accept="Image/*" required>
 
                  <p id="file-error1" style="display:none; color:red;">Bạn chỉ được chọn tối đa 1 ảnh</p>
                </div>
                <div class="col-md-5">
                  <label for="img2" class="control-label">Đăng kiểm:</label>
 
                  <input type="file" class="form-control" id="img2" placeholder="" name="DangKiem" accept="Image/*" required>
 
                  <p id="file-error2" style="display:none; color:red;">Bạn chỉ được chọn tối đa 1 ảnh</p>
                </div>
                <div class="col-md-5">
                  <label for="img3" class="control-label">Bảo hiểm:</label>
 
                  <input type="file" class="form-control" id="img3" placeholder="" name="BaoHiem" accept="Image/*" required>
 
                  <p id="file-error3" style="display:none; color:red;">Bạn chỉ được chọn tối đa 1 ảnh</p>
                </div>
                <div class="col-md-5" style="margin-top: 20px;">
                  <button class="btn btn-save" type="submit">Thêm xe</button>
                  <a class="btn btn-cancel" href="/quanlyxe/Addxe">Hủy bỏ</a>
                </div>

              </form>

            </div>

          </div>

        </div>

      </div>
  </main>
  <script>
    const imgInputXe = document.querySelector("#img");
    const fileErrorXe = document.querySelector("#file-error");

    imgInputXe.addEventListener("change", function () {
      const files = imgInputXe.files;
      if (files.length > 4) {
        fileErrorXe.innerHTML = "Bạn chỉ được chọn tối đa 4 ảnh";
        fileErrorXe.style.display = "block";
      } else if (files.length < 4) {
        fileErrorXe.innerHTML = "Bạn chỉ được chọn 4 ảnh";
        fileErrorXe.style.display = "block";
      } else  {
        fileErrorXe.style.display = "none";
      }
    });

    const imgInputDangKy = document.querySelector("#img1");
    const fileErrorDangKy = document.querySelector("#file-error1");

    imgInputDangKy.addEventListener("change", function () {
      const files = imgInputDangKy.files;
      if (files.length > 2) {
        fileErrorDangKy.innerHTML = "Bạn chỉ được chọn tối đa 2 ảnh";
        fileErrorDangKy.style.display = "block";
      } else {
        fileErrorDangKy.style.display = "none";
      }
    });
    const imgInputDangKiem = document.querySelector("#img2");
    const fileErrorDangKiem = document.querySelector("#file-error2");

    imgInputDangKiem.addEventListener("change", function () {
      const files = imgInputDangKiem.files;
      if (files.length > 2) {
        fileErrorDangKiem.innerHTML = "Bạn chỉ được chọn tối đa 2 ảnh";
        fileErrorDangKiem.style.display = "block";
      } else {
        fileErrorDangKiem.style.display = "none";
      }
    });
    const imgInputBaoHiem = document.querySelector("#img3");
    const fileErrorBaoHiem = document.querySelector("#file-error3");

    imgInputBaoHiem.addEventListener("change", function () {
      const files = imgInputBaoHiem.files;
      if (files.length > 2) {
        fileErrorBaoHiem.innerHTML = "Bạn chỉ được chọn tối đa 2 ảnh";
        fileErrorBaoHiem.style.display = "block";
      } else {
        fileErrorBaoHiem.style.display = "none";
      }
    });
  </script>
  <script src="/public/js/jquery-3.2.1.min.js"></script>
  <script src="/public/js/popper.min.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <script src="/public/js/main.js"></script>
  <script src="/public/js/plugins/pace.min.js"></script>

</body>