<div class="col-md-12">
  <div class="tile">
    <div class="tile-body">
      <div class="row element-button">
        <div class="col-sm-2">

          <a class="btn btn-add btn-sm" href="Add-Xe.html" title="Thêm"><i class="fas fa-plus"></i>
            Tạo mới xe</a>
        </div>



        <div class="col-sm-2">
          <a class="btn btn-delete btn-sm" type="button" title="Xóa" onclick="myFunction(this)"><i
              class="fas fa-trash-alt"></i> Xóa tất cả </a>
        </div>
      </div>
      <table class="table table-hover table-bordered" id="sampleTable">
        <thead>
          <tr>
            <th width="10"><input type="checkbox" id="all"></th>
            <th width="80">Biển số xe</th>
            <th width="80">Hãng xe</th>
            <th width="80">Ảnh</th>
            <th width="80">Mẫu xe</th>
            <th width="100">Năm sản xuất</th>
            <th width="80">Số ghế</th>
            <th width="80">Truyền động</th>
            <th width="100">Loại nhiêu liệu</th>
            <th width="80">Tình trạng</th>
            <th width="80">Giá </th>
            <th width="80">Chức năng</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td width="10"><input type="checkbox" name="check1" value="1"></td>
            <td>88H1-68686</td>
            <td>VinFast</td>
            <td><img
                src="https://cdn.vietnambiz.vn/1881912202208555/images/2023/07/10/bang-gia-xe-o-to-vinfast-20230710142102225.jpg?width=700"
                alt="" width="100px;"></td>
            <td>VinFast F8 </td>
            <td>2022 </td>
            <td>4 </td>
            <td>Số Tự động </td>
            <td>Xăng </td>
            <td><span class="badge bg-success">Còn hàng</span></td>
            <td>5.600.000 đ</td>

            <td><button class="btn btn-primary btn-sm trash" type="button" title="Xóa" onclick="myFunction(this)"><i
                  class="fas fa-trash-alt"></i>
              </button>
              <button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp" data-toggle="modal"
                data-target="#ModalUP"><i class="fas fa-edit"></i></button>

            </td>
          </tr>
          <tr>
            <td width="10"><input type="checkbox" name="check1" value="1"></td>
            <td>88H1-68686</td>
            <td>VinFast</td>
            <td><img
                src="https://ichef.bbci.co.uk/news/976/cpsprodpb/136F1/production/_130810697_gettyimages-1443361504.jpg"
                alt="" width="100px;"></td>
            <td>VinFast F8 </td>
            <td>2022 </td>
            <td>4 </td>
            <td>Số Tự động </td>
            <td>Xăng </td>
            <td><span class="badge bg-danger">Hét hàng</span></td>
            <td>5.600.000 đ</td>

            <td><button class="btn btn-primary btn-sm trash" type="button" title="Xóa" onclick="myFunction(this)"><i
                  class="fas fa-trash-alt"></i>
              </button>
              <button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp" data-toggle="modal"
                data-target="#ModalUP"><i class="fas fa-edit"></i></button>

            </td>
          </tr>
          <tr>
            <td width="10"><input type="checkbox" name="check1" value="1"></td>
            <td>88H1-68686</td>
            <td>VinFast</td>
            <td><img src="https://vcdn-vnexpress.vnecdn.net/2020/08/04/VinFast-President-1-9915-1596526753.jpg" alt=""
                width="100px;"></td>
            <td>VinFast F8 </td>
            <td>2022 </td>
            <td>4 </td>
            <td>Số Tự động </td>
            <td>Xăng </td>
            <td><span class="badge bg-success">Còn hàng</span></td>
            <td>5.600.000 đ</td>

            <td><button class="btn btn-primary btn-sm trash" type="button" title="Xóa" onclick="myFunction(this)"><i
                  class="fas fa-trash-alt"></i>
              </button>
              <button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp" data-toggle="modal"
                data-target="#ModalUP"><i class="fas fa-edit"></i></button>

            </td>
          </tr>
          <tr>
            <td width="10"><input type="checkbox" name="check1" value="1"></td>
            <td>88H1-68686</td>
            <td>VinFast</td>
            <td><img src="https://tiki.vn/blog/wp-content/uploads/2023/07/xe-dien-vinfast-thumb-1.jpg" alt=""
                width="100px;"></td>
            <td>VinFast F8 </td>
            <td>2022 </td>
            <td>4 </td>
            <td>Số Tự động </td>
            <td>Xăng </td>
            <td><span class="badge bg-danger">Hét hàng</span></td>
            <td>5.600.000 đ</td>

            <td><button class="btn btn-primary btn-sm trash" type="button" title="Xóa" onclick="myFunction(this)"><i
                  class="fas fa-trash-alt"></i>
              </button>
              <button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp" data-toggle="modal"
                data-target="#ModalUP"><i class="fas fa-edit"></i></button>

            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>


<!--
  MODAL
-->
<div class="modal fade" id="ModalUP" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
  data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="row">
          <div class="form-group  col-md-12">
            <span class="thong-tin-thanh-toan">
              <h5>Chỉnh sửa thông tin xe</h5>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label class="control-label">Biển số xe</label>
            <input class="form-control" type="text" required value="">
          </div>
          <div class="form-group col-md-6 ">
            <label for="exampleSelect1" class="control-label">Hãng xe</label>
            <select class="form-control" id="exampleSelect1">
              <option>VinFast</option>
              <option>Toyota</option>
            </select>
          </div>
          <div class="form-group col-md-6 ">
            <label for="exampleSelect1" class="control-label">Mẫu xe</label>
            <select class="form-control" id="exampleSelect1">
              <option>VinFast</option>
              <option>Toyota</option>
            </select>
          </div>
          <div class="form-group col-md-6 ">
            <label for="exampleSelect1" class="control-label">Năm sản xuất</label>
            <select class="form-control" id="exampleSelect1">
              <option>2023</option>
              <option>2022</option>
              <option>2021</option>
            </select>
          </div>
          <div class="form-group col-md-6 ">
            <label for="exampleSelect1" class="control-label">Số Ghế</label>
            <select class="form-control" id="exampleSelect1">
              <option>VinFast</option>
              <option>Toyota</option>
            </select>
          </div>
          <div class="form-group col-md-6 ">
            <label for="exampleSelect1" class="control-label">Truyền động</label>
            <select class="form-control" id="exampleSelect1">
              <option>Số tự động</option>
              <option>Số sàn</option>
            </select>
          </div>
          <div class="form-group col-md-6 ">
            <label for="exampleSelect1" class="control-label">Loại nhiêu liệu</label>
            <select class="form-control" id="exampleSelect1">
              <option>Xăng</option>
              <option>Dầu</option>
              <option>Điện</option>
            </select>
          </div>
          <div class="form-group col-md-6 ">
            <label for="exampleSelect1" class="control-label">Tình trạng </label>
            <select class="form-control" id="exampleSelect1">
              <option>Còn hàng</option>
              <option>Hết hàng</option>
              <option>Đang nhập hàng</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Giá bán</label>
            <input class="form-control" type="text" value="5.600.000">
          </div>
          <div class="form-group  col-md-6">
            <label class="control-label">Mô tả</label>
            <textarea class="form-control" rows="2"></textarea>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label">Ảnh xe</label>
          <div id="myfileupload">
            <input type="file" id="uploadfile" name="ImageUpload" onchange="readURL(this);" />
          </div>



        </div>
        <button class="btn btn-save" type="button">Lưu lại</button>
        <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
        <BR>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!--
MODAL
-->

<!-- Essential javascripts for application to work-->
<script src="/src/doc/js/jquery-3.2.1.min.js"></script>
<script src="/src/doc/js/popper.min.js"></script>
<script src="/src/doc/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="src/jquery.table2excel.js"></script>
<script src="/src/doc/js/main.js"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="/src/doc/js/plugins/pace.min.js"></script>
<!-- Page specific javascripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!-- Data table plugin-->
<script type="text/javascript" src="/src/doc/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/src/doc/js/plugins/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
  $('#sampleTable').DataTable();
  //Thời Gian
  function time() {
    var today = new Date();
    var weekday = new Array(7);
    weekday[0] = "Chủ Nhật";
    weekday[1] = "Thứ Hai";
    weekday[2] = "Thứ Ba";
    weekday[3] = "Thứ Tư";
    weekday[4] = "Thứ Năm";
    weekday[5] = "Thứ Sáu";
    weekday[6] = "Thứ Bảy";
    var day = weekday[today.getDay()];
    var dd = today.getDate();
    var mm = today.getMonth() + 1;
    var yyyy = today.getFullYear();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    nowTime = h + " giờ " + m + " phút " + s + " giây";
    if (dd < 10) {
      dd = '0' + dd
    }
    if (mm < 10) {
      mm = '0' + mm
    }
    today = day + ', ' + dd + '/' + mm + '/' + yyyy;
    tmp = '<span class="date"> ' + today + ' - ' + nowTime +
      '</span>';
    document.getElementById("clock").innerHTML = tmp;
    clocktime = setTimeout("time()", "1000", "Javascript");

    function checkTime(i) {
      if (i < 10) {
        i = "0" + i;
      }
      return i;
    }
  }
</script>
<script>
  function deleteRow(r) {
    var i = r.parentNode.parentNode.rowIndex;
    document.getElementById("myTable").deleteRow(i);
  }
  jQuery(function () {
    jQuery(".trash").click(function () {
      swal({
        title: "Cảnh báo",
        text: "Bạn có chắc chắn là muốn xóa sản phẩm này?",
        buttons: ["Hủy bỏ", "Đồng ý"],
      })
        .then((willDelete) => {
          if (willDelete) {
            swal("Đã xóa thành công.!", {

            });
          }
        });
    });
  });
  oTable = $('#sampleTable').dataTable();
  $('#all').click(function (e) {
    $('#sampleTable tbody :checkbox').prop('checked', $(this).is(':checked'));
    e.stopImmediatePropagation();
  });
</script>