<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="/public/images/team.jpg" alt="IMG">
            </div>
            <!--=====TIÊU ĐỀ======-->
            <div class="login100-form validate-form">
                <span class="login100-form-title">
                    <b>ĐĂNG NHẬP HỆ THỐNG </b></span>
                <!--=====FORM INPUT TÀI KHOẢN VÀ PASSWORD======-->

                <form action="/login" method="post">
                    <input type="email" name="Email" style="" required>
                    <input type="password" name="MatKhau" required>
                    <button type="submit"> đăng nhập</button>
                </form>

            </div>


        </div>
    </div>
</div>
<style>
    /* Style the form */
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}

/* Style the input fields */
input {
    border: 1px;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

/* Style the submit button */
button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
</style>