<main class="app-content">
  <div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item active"><a href="#"><b>Quản lý xe</b></a></li>
    </ul>
    <div id="clock"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <div class="row element-button">
            <div class="col-sm-2">

              <a class="btn btn-add btn-sm" href="/quanlyxe/danhsachxe">
                Danh sách xe</a>
            </div>



            <div class="col-sm-2">
              <a class="btn btn-delete btn-sm" type="button" title="Xóa" onclick="myFunction(this)"><i
                  class="fas fa-trash-alt"></i> Xóa tất cả </a>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6 col-lg-3">
              <div class="widget-small primary coloured-icon"><i class='icon  bx bxs-user fa-3x'></i>
                <div class="info">
                  <h4>Tổng xe</h4>
                  <p><b id="info_tong_xe"></b></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="widget-small info coloured-icon"><i class='icon bx bxs-purchase-tag-alt fa-3x'></i>
                <div class="info">
                  <h4>Xe đã duyệt</h4>
                  <p><b id="daduyen"></b></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="widget-small danger coloured-icon"><i class='icon fa-3x bx bxs-info-circle'></i>
                <div class="info">
                  <h4>Xe chờ duyệt</h4>
                  <p><b id="choduyen"></b></p>
                </div>
              </div>
            </div>

          </div>
          <div class="row element-button">
          </div>
          <table class="table table-hover table-bordered" id="sampleTable">
            <thead>
              <tr>
                <th width="10">STT</th>
                <th width="100">Biển số xe</th>
                <th width="100">Tên xe</th>
                <th width="100">Ảnh</th>
                <th width="100">Số ghế</th>
                <th width="100">Năm sản xuất</th>
                <th width="100">Loại nhiêu liệu</th>
                <th width="100">Giá </th>
                <th width="110">Tên chủ xe</th>
                <th width="120">Chi tiết</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>

<!--
  MODAL
-->
<div class="modal fade" id="ModalUP" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
  data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="row">
          <div class="form-group  col-md-12">
            <span class="thong-tin-thanh-toan">
              <h5>Thông tin xe</h5>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label class="control-label">Tên khách hàng</label>
            <div class="form-control">
              <p>Nguyễn Văn A</p>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Số điện thoại</label>
            <div class="form-control">
              <p>Nguyễn Văn A</p>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Biển số xe</label>
            <div class="form-control">
              <p>88A1-82828</p>
            </div>
          </div>
          <div class="form-group col-md-6 ">
            <label for="exampleSelect1" class="control-label">Hãng xe</label>
            <div class="form-control">
              <p>VinFast</p>
            </div>
          </div>
          <div class="form-group col-md-6 ">
            <label for="exampleSelect1" class="control-label">Mẫu xe</label>
            <div class="form-control">
              <p>VinFast F4</p>
            </div>
          </div>
          <div class="form-group col-md-6 ">
            <label for="exampleSelect1" class="control-label">Năm sản xuất</label>
            <div class="form-control">
              <p>2020</p>
            </div>
          </div>
          <div class="form-group col-md-6 ">
            <label for="exampleSelect1" class="control-label">Số Ghế</label>
            <div class="form-control">
              <p>4</p>
            </div>
          </div>
          <div class="form-group col-md-6 ">
            <label for="exampleSelect1" class="control-label">Truyền động</label>
            <div class="form-control">
              <p>Số tự động</p>
            </div>
          </div>
          <div class="form-group col-md-6 ">
            <label for="exampleSelect1" class="control-label">Loại nhiêu liệu</label>
            <div class="form-control">
              <p>Xăng</p>
            </div>
          </div>
          <div class="form-group col-md-6 ">
            <label for="exampleSelect1" class="control-label">Tình trạng </label>
            <div class="form-control">
              <p>Nguyễn Văn A</p>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Giá thuê</label>
            <div class="form-control">
              <p>500.000vnđ</p>
            </div>
          </div>
          <div class="form-group  col-md-6">
            <label class="control-label">Mô tả</label>
            <textarea class="form-control" rows="2"></textarea>
          </div>
        </div>
        <div class="form-group col-md-12">
          <label class="control-label">Ảnh xe</label>
          <div id="myfileupload">
            <input type="file" id="uploadfile" name="ImageUpload" multiple onchange="readURL(this);" />
          </div>

          <div id="boxchoice">
            <a href="javascript:" class="Choicefile"><i class="fas fa-cloud-upload-alt"></i> Chọn ảnh</a>
            <p style="clear:both"></p>

          </div>

        </div>
        <button class="btn btn-save" type="button">Lưu lại</button>
        <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
        <BR>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!--
MODAL
-->
<script>
  load_data()
  async function load_data() {
    const response = await fetch('/api/xe/list').then(response => response.json());
    var stt = 0;
    var tt0 = 0;
    var tt1 = 0;

    var STT = document.querySelector('.Stt');
    var tongxe = document.getElementById('info_tong_xe').innerText = response.length + " Xe";

    response.forEach(xe => {
      stt += 1;
      // xe chờ duyệt
      if (xe.TrangThai == 0) {
        tt0 += 1;
      }
      if(xe.TrangThai == 1){
        tt1 +=1;
      }
      const formattedPrice = new Intl.NumberFormat('vi-VN').format(xe.GiaThue1Ngay, {
        minimumFractionDigits: 2,
        decimal: ',',
        thousandsSeparator: '.',
      });
      const row = document.createElement('tr');
      row.innerHTML = `
                <td >${stt}</td>
                <td>${xe.BKS} </td>
                <td>${xe.MauXe}</td>
                <td><img src="/images/${xe.HinhAnh[0]}" alt="" width="100px;" class="img-card-person1"></td>
                <td>${xe.SoGhe} </td>
                <td>${xe.NSX}</td>
                <td>${xe.LoaiNhienLieu} </td >
                <td>${formattedPrice} đ</td>
                <td>${xe.ChuSH.UserName}</td>
                <td> <a class="btn btn-info " href="/quanlyxe/ChiTietXe/${xe._id}"> Xem chi tiết</a></td>`;
      document.querySelector('#sampleTable').appendChild(row);
    });
    console.log("abc",tt1)
    document.getElementById('choduyen').innerText = tt0 +" Xe";
    document.getElementById('daduyen').innerText = tt1 +" Xe";
  }
</script>
<style>
  th {
    text-align: center;
  }

  td {
    text-align: center;

  }
</style>