<!DOCTYPE html>
<html lang="en">

<head>
  <title>Danh sách đơn hàng | Quản trị Admin</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Main CSS-->
  <link rel="stylesheet" type="text/css" href="/src/doc/css/main.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <!-- or -->
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

  <!-- Font-icon css-->
  <link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

</head>

<body onload="time()" class="app sidebar-mini rtl">
  <!-- Navbar-->
  <header class="app-header">
    <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar"
      aria-label="Hide Sidebar"></a>
    <!-- Navbar Right Menu-->
    <ul class="app-nav">


      <!-- User Menu-->
      <li><a class="app-nav__item" href="/src/resources/views/index1.html"><i class='bx bx-log-out bx-rotate-180'></i> </a>

      </li>
    </ul>
  </header>
  <!-- Sidebar menu-->
  <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
  <aside class="app-sidebar">
    <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="/src/doc/images/FastCar.jpg" width="50px"
      alt="User Image">
    <div>
      <p class="app-sidebar__user-name"><b>FastCar</b></p>
      <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
    </div>
    </div>
    <hr>
    <ul class="app-menu">
      <li><a class="app-menu__item active" href="index.html"><i class='app-menu__icon bx bx-tachometer'></i><span
        class="app-menu__label">Trang chủ</span></a></li>
  

  <li><a class="app-menu__item" href="DanhSachXe.html"><i
        class='app-menu__icon bx bx-purchase-tag-alt'></i><span class="app-menu__label">Quản lý xe</span></a>
  </li>
  <li><a class="app-menu__item" href="#"><i
    class='app-menu__icon bx bx-purchase-tag-alt'></i><span class="app-menu__label">Chuyến</span></a>
</li>
  <li><a class="app-menu__item" href="#"><i
    class='app-menu__icon bx bx-purchase-tag-alt'></i><span class="app-menu__label">Khuyến mãi</span></a>
</li>

  <li><a class="app-menu__item" href="Thongke.html"><i class='app-menu__icon bx bx-task'></i><span
        class="app-menu__label">Thống kê</span></a></li>
 
  

  <li><a class="app-menu__item " href="Khachhang.html"><i class='app-menu__icon bx bx-id-card'></i> <span
    class="app-menu__label">Quản lý khách hàng</span></a></li>
  
    </ul>
  </aside>
    <main class="app-content">
      <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
          <li class="breadcrumb-item active"><a href="#"><b>Thống kê</b></a></li>
        </ul>
        <div id="clock"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
              <div class="row element-button"  >
                <div class="col-sm-2">
  
                  <a class="btn btn-add btn-sm" href="ThongKeTopXe.html" title="Thêm"><i class=""></i>
                  Thống kê Top Xe</a>
                </div>
                 
                <div class="col-sm-2">
                  <a class="btn btn-delete btn-sm" type="button" title="Xóa" onclick="myFunction(this)"><i
                      class="fas fa-trash-alt"></i> Xóa tất cả </a>
                </div>
                <div class="end" style="margin-left: 820px;  " >
                <div class="row">
                  <div class="col-sm-22" style="margin-left: 20px; font-weight: bold ;font-size: 15px;" >
                    <label class="control-label1">Từ ngày</label>
                    <input class="form-control1"  type="date" required>
                  </div>
                  <div class="col-sm-22" style="margin-left: 20px;font-weight: bold; font-size: 15px;">
                    <label class="control-label1" >Đến ngày</label>
                    <input class="form-control1"  type="date" required>
                  </div>
                  <div class="col-sm-22" style="margin-left: 20px;  ">
                    <a class="btn btn-tim-kiem" href="" title="button" style="color: #fff; background-color: #38a927; width: 80px; height: 30px; display: flex; justify-content: center;
                    align-items: center;">Tìm kiếm</a>
                  </div>
              </div>
            </div>
          </div>
            <div class="row element-button">
            </div>
              <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="widget-small primary coloured-icon"><i class='icon  bx bxs-user fa-3x'></i>
                        <div class="info">
                            <h4>Tổng Chuyến</h4>
                            <p><b>100 Chuyến</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="widget-small info coloured-icon"><i class='icon bx bxs-purchase-tag-alt fa-3x' ></i>
                        <div class="info">
                            <h4>Chuyến Thành công</h4>
                            <p><b>68 chuyến</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                  <div class="widget-small danger coloured-icon"><i class='icon fa-3x bx bxs-info-circle' ></i>
                        <div class="info">
                            <h4>Chuyến đã hủy</h4>
                            <p><b>4 Chuyến</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                  
                  <div class="widget-small danger coloured-icon"><i class='icon fa-3x bx bxs-receipt' ></i>
                        <div class="info">
                            <h4>Chuyến Chờ cọc</h4>
                            <p><b>10 chuyến</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
               
                <div class="col-md-6 col-lg-3">
                    <div class="widget-small info coloured-icon"><i class='icon fa-3x bx bxs-user-badge' ></i>
                        <div class="info">
                            <h4> Chuyến Đã cọc</h4>
                            <p><b>20 chuyến</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                  <div class="widget-small primary coloured-icon"><i class='icon fa-3x bx bxs-chart' ></i>
                      <div class="info">
                          <h4>Doanh thu</h4>
                          <p><b>104.890.000 đ</b></p>
                      </div>
                  </div>
              </div>
               
                </div>
            </div>
            <div class="row element-button">
            </div>
              <table class="table table-hover table-bordered" id="sampleTable">
                <thead>
                  <tr>
                    <th width="10"><input type="checkbox" id="all"></th>
                    <th>ID đơn hàng</th>
                    <th>Tên xe</th>
                    <th>Giá thuê</th>
                    <th>Lượt Thuê</th>
                    <th>Tình trạng</th>
                    <th>Tiền cọc</th>
                    <th>Doanh thu</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td width="10"><input type="checkbox" name="check1" value="1"></td>
                    <td>MD0837</td>
                    <td>Vinfast F8</td>
                    <td>500.000đ</td>
                    <td>2</td>  
                    <td><span class="badge bg-success">Hoàn thành</span></td>
                    <td>2.400.000 đ</td>
                    <td>9.400.000 đ</td>
                   
                  </tr>
                  <tr>
                    <td width="10"><input type="checkbox" name="check1" value="1"></td>
                    <td>MD0837</td>
                    <td>Vinfast F8</td>
                    <td>500.000đ</td>
                    <td>2</td>  
                    <td><span class="badge bg-success">Hoàn thành</span></td>
                    <td>2.400.000 đ</td>
                    <td>9.400.000 đ</td>
                   
                  </tr>
                    <td width="10"><input type="checkbox" name="check1" value="1"></td>
                    <td>MT9835</td>
                    <td>Vinfast F8</td>
                    <td>500.000đ</td>
                    <td>2</td>  
                    <td><span class="badge bg-success">Đã cọc</span></td>
                    <td>2.400.000 đ</td>
                    <td>9.400.000 đ</td>
                  </tr>
                  <tr>
                    <td width="10"><input type="checkbox" name="check1" value="1"></td>
                    <td>ER3835</td>
  
                    <td>Vinfast F8</td>
                    <td>500.000đ</td>
                    <td>10</td>
                    <td><span class="badge bg-info">Chờ cọc</span></td>
                    <td>2.400.000 đ</td>
                    <td>0đ</td>
                  </tr>
                  <tr>
                    <td width="10"><input type="checkbox" name="check1" value="1"></td>
                    <td>AL3947</td>
                
                    <td>Vinfast F8</td>
                    <td>500.000đ</td>
                    <td>10</td>
                    <td><span class="badge bg-warning">Đang hoạt động</span></td>
                    <td>2.400.000 đ</td>
                    <td>9.400.000 đ</td>
                  </tr>
                  <tr>
                    <td width="10"><input type="checkbox" name="check1" value="1"></td>
                    <td>QY8723</td>
                    <td>Vinfast F8</td>
                    <td>500.000đ</td>
                    <td>1 </td>
                    <td><span class="badge bg-danger">Đã hủy</span></td>
                    <td>0đ</td>
                    <td>0đ</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
  <!-- Essential javascripts for application to work-->
  <script src="/src/doc/js/jquery-3.2.1.min.js"></script>
  <script src="/src/doc/js/popper.min.js"></script>
  <script src="/src/doc/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="src/jquery.table2excel.js"></script>
  <script src="/src/doc/js/main.js"></script>
  <!-- The javascript plugin to display page loading on top-->
  <script src="js/plugins/pace.min.js"></script>
  <!-- Page specific javascripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
  <!-- Data table plugin-->
  <script type="text/javascript" src="/src/doc/js/plugins/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/src/doc/js/plugins/dataTables.bootstrap.min.js"></script>
  <script type="text/javascript">$('#sampleTable').DataTable();</script>
  <script>
    function deleteRow(r) {
      var i = r.parentNode.parentNode.rowIndex;
      document.getElementById("myTable").deleteRow(i);
    }
    jQuery(function () {
      jQuery(".trash").click(function () {
        swal({
          title: "Cảnh báo",
         
          text: "Bạn có chắc chắn là muốn xóa đơn hàng này?",
          buttons: ["Hủy bỏ", "Đồng ý"],
        })
          .then((willDelete) => {
            if (willDelete) {
              swal("Đã xóa thành công.!", {
                
              });
            }
          });
      });
    });
    oTable = $('#sampleTable').dataTable();
    $('#all').click(function (e) {
      $('#sampleTable tbody :checkbox').prop('checked', $(this).is(':checked'));
      e.stopImmediatePropagation();
    });

    //EXCEL
    // $(document).ready(function () {
    //   $('#').DataTable({

    //     dom: 'Bfrtip',
    //     "buttons": [
    //       'excel'
    //     ]
    //   });
    // });


    //Thời Gian
    function time() {
      var today = new Date();
      var weekday = new Array(7);
      weekday[0] = "Chủ Nhật";
      weekday[1] = "Thứ Hai";
      weekday[2] = "Thứ Ba";
      weekday[3] = "Thứ Tư";
      weekday[4] = "Thứ Năm";
      weekday[5] = "Thứ Sáu";
      weekday[6] = "Thứ Bảy";
      var day = weekday[today.getDay()];
      var dd = today.getDate();
      var mm = today.getMonth() + 1;
      var yyyy = today.getFullYear();
      var h = today.getHours();
      var m = today.getMinutes();
      var s = today.getSeconds();
      m = checkTime(m);
      s = checkTime(s);
      nowTime = h + " giờ " + m + " phút " + s + " giây";
      if (dd < 10) {
        dd = '0' + dd
      }
      if (mm < 10) {
        mm = '0' + mm
      }
      today = day + ', ' + dd + '/' + mm + '/' + yyyy;
      tmp = '<span class="date"> ' + today + ' - ' + nowTime +
        '</span>';
      document.getElementById("clock").innerHTML = tmp;
      clocktime = setTimeout("time()", "1000", "Javascript");

      function checkTime(i) {
        if (i < 10) {
          i = "0" + i;
        }
        return i;
      }
    }
    //In dữ liệu
    var myApp = new function () {
      this.printTable = function () {
        var tab = document.getElementById('sampleTable');
        var win = window.open('', '', 'height=700,width=700');
        win.document.write(tab.outerHTML);
        win.document.close();
        win.print();
      }
    }
    //     //Sao chép dữ liệu
    //     var copyTextareaBtn = document.querySelector('.js-textareacopybtn');

    // copyTextareaBtn.addEventListener('click', function(event) {
    //   var copyTextarea = document.querySelector('.js-copytextarea');
    //   copyTextarea.focus();
    //   copyTextarea.select();

    //   try {
    //     var successful = document.execCommand('copy');
    //     var msg = successful ? 'successful' : 'unsuccessful';
    //     console.log('Copying text command was ' + msg);
    //   } catch (err) {
    //     console.log('Oops, unable to copy');
    //   }
    // });


    //Modal
    $("#show-emp").on("click", function () {
      $("#ModalUP").modal({ backdrop: false, keyboard: false })
    });
  </script>
</body>

</html>